PORT=4000
JWT_SECRET=change-me
DATA_FILE_PATH=../data/data.json
DATA_STORAGE_PROVIDER=auto
UPLOADS_DIR=./uploads
MAX_GPX_SIZE_MB=20
MAX_SIMPLIFIED_POINTS=5000
YADISK_TOKEN=y0__xCl2bjMAxiEzj4g0t_k0hYYHtXrSNN6uJ7wFzw2kp6tq9sodA
YADISK_BASE_DIR=/bike-app
YADISK_DATA_PATH=/bike-app/data/data.json
LOCAL_FALLBACK_ENABLED=true
ADMIN_NAME=admin
ADMIN_PIN=1234
